### groupby - usage on insurance policies data

### Data and code avalable in the description

In [18]:
# dataset available @Kaggle
#import pandas
import pandas as pd
# read .csv file
ipdf = pd.read_csv("OfficeSupplies.csv")
ipdf.head(5)

     OrderDate   Region      Rep     Item  Units  Unit Price
0   4-Jul-2014     East  Richard  Pen Set     62        4.99
1  12-Jul-2014     East     Nick   Binder     29        1.99
2  21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3  29-Jul-2014     East    Susan   Binder     81       19.99
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95

### groupby Region

In [23]:
gp1 = ipdf.groupby(['Region']).sum()
gp1

         Units  Unit Price
Region
Central   1199      432.45
East       691      118.87
West       231      321.95

### write group by data into csv

In [25]:
gp1.reset_index().to_csv('gp1.csv')

### groupby Region and Item

In [26]:
gp2 = ipdf.groupby(["Region","Item"]).sum()
gp2

                 Units  Unit Price
Region  Item
Central Binder     424       91.93
        Desk         7      250.00
        Pen         27       19.99
        Pen Set    243       46.42
        Pencil     498       24.11
East    Binder     234       40.95
        Pen        175       33.97
        Pen Set    152       36.97
        Pencil     130        6.98
West    Binder      64       39.98
        Desk         3      275.00
        Pen         76        1.99
        Pencil      88        4.98

### write group by data into csv

In [29]:
gp2.reset_index().to_csv('gp2.csv')

In [ ]:
code and dataset available at github link in the description
Thanks

In [ ]:
check the dowloaded .csv files